In [1]:
print("Nama: Yusran Arsy Syahid")
print("NIM : 0110223198")
print("Rombel : DE02")

Nama: Yusran Arsy Syahid
NIM : 0110223198
Rombel : DE02

In [2]:
# mengimport dan menampilkan dataset

import pandas as pd
mydata = pd.read_csv("GroceryStoreDataSet.csv", names = ['products'], sep = ',')
mydata.head()

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [5]:
mydata.values

array([['MILK,BREAD,BISCUIT'],
       ['BREAD,MILK,BISCUIT,CORNFLAKES'],
       ['BREAD,TEA,BOURNVITA'],
       ['JAM,MAGGI,BREAD,MILK'],
       ['MAGGI,TEA,BISCUIT'],
       ['BREAD,TEA,BOURNVITA'],
       ['MAGGI,TEA,CORNFLAKES'],
       ['MAGGI,BREAD,TEA,BISCUIT'],
       ['JAM,MAGGI,BREAD,TEA'],
       ['BREAD,MILK'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,COCK'],
       ['BREAD,SUGER,BISCUIT'],
       ['COFFEE,SUGER,CORNFLAKES'],
       ['BREAD,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,SUGER'],
       ['BREAD,COFFEE,SUGER'],
       ['TEA,MILK,COFFEE,CORNFLAKES']], dtype=object)

In [6]:
data = list(mydata["products"].apply(lambda x:x.split(",") ))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [7]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (1.14.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (2.1.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (2.2.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\diaha\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# melakukan proses dataset dan menyimpan nya dalam dataFrame 
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()

data_encode = te.fit(data).transform(data)

mydata = pd.DataFrame(data_encode, columns=te.columns_)
mydata = mydata.astype(int)
mydata

,Acura,Alfa Romeo,Aro,Aston Martin,Audi,BMW,BYD,Barkas,Bentley,Bogdan,...,Tesla,Toyota,UAZ,VAZ,Volkswagen,Volvo,Wartburg,ZAZ,ZX,ËUAZ
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9572,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9573,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9574,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9575,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# menjalankan fungsi rules
mydata = mydata.astype(int)
mydata = mydata.astype(bool)
from mlxtend.frequent_patterns import apriori, association_rules
frequent_itemsets = apriori(mydata, min_support=0.2, use_colnames=True)

rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

In [10]:
frequent_itemsets

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BISCUIT, BREAD)
10     0.20         (MILK, BREAD)
11     0.20        (SUGER, BREAD)
12     0.20          (TEA, BREAD)
13     0.20  (CORNFLAKES, COFFEE)
14     0.20       (SUGER, COFFEE)
15     0.20          (TEA, MAGGI)

In [11]:
# menampilkan hasil aturan asosiatif (association rules)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000,0.250000
1,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,0.0375,1.083333,0.535714
2,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000,0.035714
3,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,0.0050,1.011111,0.071429
4,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
5,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000,0.666667
6,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
7,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000,0.666667
8,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000,0.865385
9,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000,0.750000